:root {
	--primary-hover-color: #1238FF;
	--primary-text-color: black;
	--secondary-text-color: white;
}

body { 
	margin: 0;
	padding: 0;
	line-height: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

/* fontsizes */



h1 {
	font-size: clamp(1.2rem, 1.1199999999999999rem + 0.4000000000000002vw, 1.6rem);
}

h2 {
	
font-size: clamp(1.3rem, 1.2rem + 0.5vw, 1.8rem);
}

h3 {
	font-size: clamp(0.8rem, 0.76rem + 0.19999999999999996vw, 1rem);
}

p {
	font-size: clamp(0.5rem, 0.44rem + 0.30000000000000004vw, 0.8rem);
}

a {
	font-size: clamp(0.8rem, 0.76rem + 0.19999999999999996vw, 1rem);
	cursor: pointer;
}




.about {
	display: grid;
	grid-template-columns: 1fr minmax(0, 1500px) 1fr;
	
  }
  
  .about > * {
	grid-column: 2;
  }

  .projects, .photo {
	grid-column: 1 / -1;
  }



h1, a, h2, h3 {
	font-family: 'Saira Condensed', sans-serif;
}

a {
	text-decoration: none;
	color: var(--primary-text-color);
}

a:hover {
	color: var(--primary-hover-color);
}

p, h4 {
	font-family: "futura";
	font-weight: lighter;
}

p,
a {
  font-size: clamp(0.8rem, 0.76rem + 0.19999999999999996vw, 1rem);
  
}

img {
	width: 100%;
	height: auto;
  }

